{% extends "backend/base.html" %}
{% load staticfiles %}

{% block content %}
    
    <!-- begin breadcrumb -->
    <ol class="breadcrumb pull-right">
        <li><a href="javascript:;">Home</a></li>
        <li class="active">Dashboard</li>
    </ol>
    <!-- end breadcrumb -->

    <!-- begin page-header -->
    <h1 class="page-header">Dashboard <small>header small text goes here...</small></h1>
    <!-- end page-header -->

    <!-- begin row -->
    <div class="row">
        <!-- begin col-8 -->
        <div class="col-md-12">
            <div class="panel panel-inverse" data-sortable-id="index-1">
                <div class="panel-body">
                 <!--LHS-->    
                <div class="col-md-12">
                    
                <div class="panel panel-inverse">
                    <form class="form-horizontal" id="endpoint" name="endpoint" method="post">{% csrf_token %}
                    <div class="panel-heading">
                        <div class="panel-heading-btn">
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
                        </div>
                        <h4 class="panel-title"><strong>Create API EndPoint</strong></h4>
                    </div>
                    
                    <div class="panel-body">
                        
                            <div class="form-group">
                                <label class="col-md-3 control-label">API EndPoint:</label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" value="Endpoint Name" readonly >
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label">Path:</label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" placeholder="Path Name" name="endpoints[resources][auth][path]">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label">Header:</label>
                                <div class="col-md-9" id="auth_header_params">
                                    <table class="table table-bordered table-responsive auth-req-body">
                                        <thead>
                                            <tr>
                                                <th>Key</th>
                                                <th>Value</th>
                                                <th>Remove</th>
                                            </tr>
                                        </thead>
                                        <tbody class="auth-req-tbody">
                                            <tr class="auth-req-body-tr" id="authreqtr-0">
                                                <td>
                                                    <div class="col-md-12">
                                                        <input type="text" class="form-control" placeholder="key" name="endpoints[header][0][key]">
                                                    </div>
                                                </td>
                                                
                                                <td>
                                                    <div class="col-md-12">
                                                        <input type="text" class="form-control" placeholder="Value" name="endpoints[header][0][value]">
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="col-md-12">
                                                        <button type="button" class="btn btn-sm btn-success pull-right remove-auth-header-row">X</button>
                                                    </div>
                                                </td>

                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label">&nbsp;</label>
                                <div class="col-md-9">
                                    <button type="button" class="btn btn-sm btn-success pull-right add-auth">Add Auth Header</button>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label">Request Method:</label>
                                <div class="col-md-9">
                                    <select class="form-control" name="endpoints[resources][auth][method][name]">
                                        <option value="GET">GET</option>
                                        <option value="POST">POST</option>
                                        <option value="PUT">PUT</option>
                                        <option value="DELETE">DELETE</option>
                                    </select>
                                </div>
                            </div>
                    </div>
                    <div class="panel-heading">
                        <h4 class="panel-title col-md-12"><strong>Request Body</strong></h4>
                    </div>
                    <div class="panel-body">
                        
                        <div class="form-group">
                            <table class="table table-bordered table-responsive req-body">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Type</th>
                                        <th>Request</th>
                                        <th>Description</th>
                                        <th>Default</th>
                                        <th>Remove</th>
                                    </tr>
                                </thead>
                                <tbody class="req-tbody">
                                    <tr id="reqtr-0" class="req-body-tr">
                                        <td>
                                            <div class="col-md-12">
                                                <input type="text" class="form-control" placeholder="Name" name="endpoints[resources][auth][method][params][0][reqbodyname]">
                                            </div>
                                        </td>
                                        
                                        <td>
                                            <div class="col-md-12">
                                                <input type="text" class="form-control" placeholder="Type" name="endpoints[resources][auth][method][params][0][reqbodytype]">
                                            </div>
                                        </td>
                                        
                                        <td>
                                            <div class="col-md-12">
                                                <input type="checkbox" class="form-control" name="endpoints[resources][auth][method][params][0][reqbodyrequired]">
                                            </div>
                                        </td>
                                        
                                        <td>
                                            <div class="col-md-12">
                                                <input type="text" class="form-control" placeholder="Description" name="endpoints[resources][auth][method][params][0][reqbodydesc]">
                                            </div>
                                        </td>
                                        
                                        <td>
                                            <div class="col-md-12">
                                                <input type="text" class="form-control" placeholder="Default" name="endpoints[resources][auth][method][params][0][reqbodydefault]">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="col-md-12">
                                                <button type="button" class="btn btn-sm btn-success pull-right remove-row">X</button>
                                            </div>
                                        </td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">&nbsp;</label>
                            <div class="col-md-9">
                                <button type="button" class="btn btn-sm btn-success pull-right add-row">Add Row</button>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">&nbsp;</label>
                            <div class="col-md-9">
                                <button type="submit" class="btn btn-sm btn-success">Submit</button>
                            </div>
                        </div>
                    </div>
                    </form>
                </div>
                </div>
                <!--end LHS-->
                </div>
            </div>
        </div>
        <!-- end col-8 -->
    </div>
{% endblock %}


{% block player_js %}
  <!-- ================== BEGIN PAGE LEVEL JS ================== -->
  <script src="{% static "backend/assets/js/dashboard.js" %}"></script>
  <script src="{% static "backend/org/create_request.js" %}"></script>
  <script src="{% static "backend/assets/js/jquery.serialize-object.min.js" %}"></script>
  <!-- ================== END PAGE LEVEL JS ================== -->
  <script>
  $(document).ready(function() {
    App.init();
    Dashboard.init();
  });
  </script>
{% endblock %}
