    <div id="sidebar" class="sidebar">
      <!-- begin sidebar scrollbar -->
      <div data-scrollbar="true" data-height="100%">
        <!-- begin sidebar user -->
        <ul class="nav">
          <li class="nav-profile">
            <div class="image">
              <span class="fa fa-2x fa-user"></span>
            </div>
            <div class="info">
              {{ request.user.username }}
              <small>{{ request.user.first_name }} {{ request.user.last_name }}</small>
            </div>
          </li>
        </ul>
        <!-- end sidebar user -->
        <!-- begin sidebar nav -->
        <ul class="nav">
          <li class="active">
            <a href="{% url 'organization:dashboard' %}">
              <i class="fa fa-desktop icon-color"></i>
              <span>Dashboard</span>
            </a>

          <li class="has-sub">
            <a href="javascript:;">
                <b class="caret pull-right"></b>
                <i class="fa fa-bank icon-color"></i> 
                <span>Products</span>
            </a>
            <ul class="sub-menu" style="display: none;">
              <li><a href="{% url 'product:add_product' %}">Add Product</a></li>
              <li><a href="{% url 'product:view_product' %}">View Products</a></li>
            </ul>
          </li>
          <li class="has-sub">
            <a href="javascript:;">
                <b class="caret pull-right"></b>
                <i class="fa fa-line-chart icon-color"></i> 
                <span>API's</span>
            </a>
            <ul class="sub-menu" style="display: none;">
              <li><a href="javascript:void(0);">API Proxies</a></li>
              <li><a href="javascript:void(0);">Environment Config</a></li>
            </ul>
          </li>
          <li class="has-sub">
            <a href="javascript:;">
                <b class="caret pull-right"></b>
                <i class="fa fa-asterisk icon-color"></i> 
                <span>Publish</span>
            </a>
            <ul class="sub-menu" style="display: none;">
              <li><a href="javascript:void(0);">Products</a></li>
              <li><a href="javascript:void(0);">Developers</a></li>
              <li><a href="javascript:void(0);">Developer Apps</a></li>
            </ul>
          </li>
          <li class="has-sub">
            <a href="javascript:;">
                <b class="caret pull-right"></b>
                <i class="fa fa-cubes icon-color"></i> 
                <span>Analytics</span>
            </a>
            <ul class="sub-menu" style="display: none;">
              <li><a href="javascript:void(0);">API</a></li>
              <li><a href="javascript:void(0);">Developers</a></li>
              <li><a href="javascript:void(0);">End User</a></li>
            </ul>
          </li>
          <li class="has-sub">
            <a href="javascript:;">
                <b class="caret pull-right"></b>
                <i class="fa fa-users icon-color"></i> 
                <span>Admin</span>
            </a>
            <ul class="sub-menu" style="display: none;">
              <li><a href="javascript:void(0);">Organization Users</a></li>
              <li><a href="javascript:void(0);">Organization Roles</a></li>
              <li><a href="javascript:void(0);">SSL Certificate</a></li>
            </ul>
          </li>
          <li class="has-sub">
            <a href="javascript:;">
                <b class="caret pull-right"></b>
                <i class="fa fa-paper-plane icon-color"></i> 
                <span>Help</span>
            </a>
            <ul class="sub-menu" style="display: none;">
              <li><a href="javascript:void(0);">Whats New</a></li>
              <li><a href="javascript:void(0);">Community forum</a></li>
              <li><a href="javascript:void(0);">Support</a></li>
            </ul>
          </li>


          <!-- begin sidebar minify button -->
          <li><a href="javascript:void(0);" class="sidebar-minify-btn" data-click="sidebar-minify"><i class="fa fa-angle-double-left"></i></a></li>
              <!-- end sidebar minify button -->
        </ul>
        <!-- end sidebar nav -->
      </div>
      <!-- end sidebar scrollbar -->
    </div>
    <div class="sidebar-bg"></div>
