{% extends "backend/base.html" %}
{% load staticfiles %}

<!-- begin #sidebar -->
{% block left_sidebar %}
  {% include "backend/dev/widgets/left-sidebar.html" %} 
{% endblock %}
<!-- end #sidebar -->


{% block content %}

    <link href="{% static "backend/assets/plugins/isotope/isotope.css" %}" rel="stylesheet" />

    <link href="{% static "backend/assets/plugins/lightbox/css/lightbox.css" %}" rel="stylesheet" />

    <link href="{% static "backend/assets/plugins/lightbox/css/lightbox.css" %}" rel="stylesheet" />

    <link href="{% static "backend/dev/css/list_categories.css" %}" rel="stylesheet" />

    <!-- begin breadcrumb -->
    <ol class="breadcrumb pull-right">
        <li><a href="/">Home</a></li>
        <li class="active">Dashboard</li>
    </ol>
    <!-- end breadcrumb -->

    <!-- begin page-header -->
    <h1 class="page-header">API's <small>search your api's here...</small></h1>
    <!-- end page-header -->

    <div class="row">
        <!-- begin col-6 -->
        <div class="col-md-3">
            <ul class="custom-leftlist category-list">
            </ul>
        </div>
        <div class="col-md-9">

<!--             <div id="options" class="m-b-10">
                <span class="gallery-option-set" id="filter" data-option-key="filter">
                    <a href="#show-all" class="btn btn-default btn-xs active" data-option-value="*">
                        Show All
                    </a>
                    <a href="#gallery-group-1" class="btn btn-default btn-xs" data-option-value=".gallery-group-1">
                        Gallery Group 1
                    </a>
                    <a href="#gallery-group-2" class="btn btn-default btn-xs" data-option-value=".gallery-group-2">
                        Gallery Group 2
                    </a>
                    <a href="#gallery-group-3" class="btn btn-default btn-xs" data-option-value=".gallery-group-3">
                        Gallery Group 3
                    </a>
                    <a href="#gallery-group-4" class="btn btn-default btn-xs" data-option-value=".gallery-group-4">
                        Gallery Group 4
                    </a>
                </span>
            </div> -->
            <div id="gallery" class="gallery">
            </div>
        </div>
        <!-- end #content -->
        </div>
    </div>

{% endblock %}


{% block player_js %}
  <!-- ================== BEGIN PAGE LEVEL JS ================== -->
  <script src="{% static "backend/assets/js/dashboard.js" %}"></script>
  <!-- ================== END PAGE LEVEL JS ================== -->

    <!-- ================== BEGIN PAGE LEVEL JS ================== -->

    <script src="{% static "backend/assets/js/gallery.demo.min.js" %}"></script>
    <script src="{% static "backend/assets/js/apps.min.js" %}"></script>
    <script src="{% static "backend/dev/js/list_categories.js" %}"></script>
    <!-- ================== END PAGE LEVEL JS ================== -->

  <script>
  $(document).ready(function() {
    App.init();
  });
  </script>
{% endblock %}
